<ion-list>
  <ion-item lines="inset" (click)="openThis('why')">
    <ion-label>Why GetPaper?</ion-label>
  </ion-item>

  <ion-item lines="inset" (click)="openThis('price')">
    <ion-label>Pricing</ion-label>
  </ion-item>

  <ion-item lines="inset" (click)="openThis('about')">
    <ion-label>About Us</ion-label>
  </ion-item>

  <ion-item lines="inset" (click)="openThis('find')">
    <ion-label>Find your Stack</ion-label>
  </ion-item>

  <ion-item lines="none" (click)="openThis('create')">
    <ion-label>Create a Stack</ion-label>
  </ion-item>
</ion-list>
