ion-list-header {
  font-size: 16px;
  // display: block;
  text-align: left;
}

.account-img {
  width: 50px;
  height: 50px;
}

.account-name {
  display: inline;
  text-align: left;
}

.account-email {
  font-size: 10px;
}

.small {
  font-size: 12px;
  padding-left: 10px;
}
