#finalize-products {
  .odd-row {
    background-color: #fff;
  }

  .even-row {
    background-color: #f3f3f3;
  }

  .fp-btn {
    --width: 7em;
    --height: 2.5em;
    --border-radius: 6px;
    --color: #fff;
    font-weight: bold;
    text-transform: none;
  }

  .size-btn {
    // --background: var(--cust-grayText);
    --color: var(--cust-grayText);
    --border-color: var(--cust-grayText);
  }
}
