<ion-header>
  <ion-toolbar>
    <ion-title>
      <h5>
        <span>{{ title }}</span>
        <br />
        <small>{{ subTitle }}</small>
      </h5>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="accountInfo()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="moreSettings()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
