#organise-products {
  .warning-item {
    background-color: var(--ion-color-warning);
  }

  .cust-variant-btn0 {
    height: 20px;
    font-size: 12px;
    --background: var(--cust-fadegreen);
  }

  .cust-variant-btn1 {
    height: 20px;
    font-size: 12px;
    --background: var(--cust-fadeyellow);
  }

  .cust-variant-btn2 {
    height: 20px;
    font-size: 12px;
    --background: var(--cust-fadegreen);
  }

  .cust-added-variant-btn {
    height: 20px;
    font-size: 12px;
    --background: var(--cust-dark);
  }
}

@media only screen and (max-width: 576px) {
  #organise-products {
    margin-top: 0;
  }
}
