extends template-email

block content

  p Thank you for signing up for GetPaper. We're happy you're here!
  br
  p Please follow our newletter to stay up to date. This is an alpha mailing list.
  p This email contains private information about your banana hammock — please do not forward. If you have any questions,	please email us at&nbsp;
    a(href='mailto:feedback@GetPaper.io')
      span feedback@GetPaper.io

  p Cheers,
  p The team at GetPaper