.filter-btn {
  --background: #cccccc;
  font-weight: bold;
}

.reset-btn {
  color: #cccccc;
}

.filter-btn-enable {
  font-weight: bold;
}

.cp-img {
  width: 80px;
  height: 80px;
}

.cust-card {
  margin: 0.5em 0;
}

.cp-list {
  padding-top: 1em !important;
}
.p-title {
  font-size: 1em;
  font-weight: bold;
}
/**
@media only screen and (max-width: 576px) {
  .cp-list {
    padding-top: 1em !important;
  }
  .p-title {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .cp-list {
    padding-top: 6em;
  }
  .p-title {
    font-size: 1em;
  }
}

@media only screen and (max-width: 992px) {
  .cp-list {
    padding-top: 6em;
  }
}

@media only screen and (max-width: 1200px) {
  .cp-list {
    padding-top: 6em;
  }
}
*/
