<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <!--
    <ion-row>
      <ion-col>
        <ion-label style="width: 100%">
          <a href="/">
            <img src="assets/logo/logo.png" style="display: block; margin: 0 auto;" />
          </a>
        </ion-label>
      </ion-col>
    </ion-row>
-->
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 80%">
      <ion-col size-xl="4" size-lg="5" size-md="7" size-sm="8" size="12" class="cust-col">
        <form [formGroup]="forgotPassword">
          <ion-list>
            <ion-list-header>
              <ion-text style="width: 100%" class="ion-text-center"
                >Please enter your email to receive instructions on how to reset your pasword.</ion-text
              >
            </ion-list-header>
            <ion-item class="cust-input" lines="none">
              <ion-input
                type="email"
                required
                email
                formControlName="email"
                placeholder="Email address"
                (keyup.enter)="sendResetEmail()"
              ></ion-input>
              <ion-button
                fill="solid"
                mode="ios"
                class="forgot-btn"
                slot="end"
                [disabled]="!forgotPassword.valid"
                (click)="sendResetEmail()"
                >Reset Password</ion-button
              >
            </ion-item>
            <ion-text color="success" *ngIf="msgSuccess"> <ion-icon name="checkmark"></ion-icon>{{ msgSuccess }} </ion-text>
            <ion-text color="danger" *ngIf="msgError"> <ion-icon name="alert"></ion-icon>{{ msgError }} </ion-text>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
