ion-content {
   .cust-col {
      /* border: 1px solid lightgray;
      border-radius: 6px; */

      .cust-input {
         --border-width: 1px;
         --border-style: solid;
         --border-color: lightgray;
         --border-radius: 6px;
         margin-top: 1em;
      }

      .forgot-btn {
         float: right;
      }
   }
}